version: "3.9"

services:
  backend:
    build: .
    container_name: mytaxi_backend
    restart: always
    ports:
      - "5050:5050"
    env_file:
      - .env
    depends_on:
      - redis
    # Agar Mongo konteyneringiz bo'lsa, uni ham qo'shing:
    # - mongo

  redis:
    image: redis:7
    container_name: redis_server
    restart: always
    ports:
      - "6379:6379"
    command: [ "redis-server", "--appendonly", "yes" ]
    volumes:
      - redis_data:/data

  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: redis_ui
    restart: always
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - "8081:8081"

volumes:
  redis_data:
